<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Successful!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .message {
            margin-top: 50px;
            font-size: 24px;
            color:green;
        }
    </style>
</head>
<body>
    <div class="message">
        <p>Welcome to Stock Tracker..!</p>
        <p>Please Login to get the desired stock information</p>
        <a href="signin">LOGIN</a>
    </div>
</body>
</html>